/*-----------------------------------
  #CUSTOM PROPERTY
-----------------------------------*/

:root {

  /**
   * colors
   */

   --violet-blue-crayola: hsla(228, 45%, 44%, 1);                 /*HSLA (hue,saturation,lightness,alpha)*/  
   --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
   --crystal-dark-blue: hsla(251, 63%, 22%, 1);
   --white: hsla(0, 0%, 100%, 1);
   --white_a3: hsla(0, 0%, 100%, 0.03);
   --white_a8: hsla(0, 0%, 100%, 0.08);
   --white_a12: hsla(0, 0%, 100%, 0.12);
   --white_a70: hsla(0, 0%, 100%, 0.7);
   --cultured: hsla(220, 20%, 97%, 1);
   --lavender-web: hsla(233, 52%, 94%, 1);
   --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
   --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
   --charcoal: hsla(218, 22%, 26%, 1);
   --raisin-black: hsla(216, 14%, 14%, 1);
   --light-gray: hsla(0, 0%, 79%, 1);
   --blue-crayola: hsla(224, 71%, 67%, 1);
   --black-coral: hsla(220, 12%, 43%, 1);
   

  /**
   * typography
   */

  --ff-manrope: 'Manrope', sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + .66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;
  
  --fw-700: 700;

  /** 
   * spacing
   */

  --section-padding: 90px;

  /**
   * box shadow
   */

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08), 0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;

}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--crystal-dark-blue);
}

li { list-style: none; }

button { cursor: pointer; }

address { font-style: normal; }

body.nav-navactive { overflow: hidden; } /*prevents scrolling when sidebar is opened*/

a{font-family: poppins;}

html{
  scroll-behavior: smooth;
}


/**
  * HEADER
  */

  .header {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    padding-block: 20px;
    padding-bottom: 8px;
    box-shadow: var(--shadow-1);
    z-index: 4;
    margin-bottom: 0;
  }

  .header.navactive {
    height: 50px;
    background-color: var(--white);
    position: fixed;
    animation: slideIn 0.5s ease forwards;
  }
  
  @keyframes slideIn {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(0); }
  } /*animation for sticky header */

  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar,
  .navbar.navactive {
    all: unset;
    display: block;
    margin-inline: auto 24px;
  }

  .navbar-list {
    color: var(--white);
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    color: white;
    font-size: 15px;
    transition: var(--transition-1);
  }

  .header.navactive .logo-light,
  .header .logo-dark { display: none; } /* Hide light logo when header is active (scrolled) and always hide dark logo by default */
  
  .header .logo-light,
  .header.navactive .logo-dark { display: block; } /* Show light logo by default and show dark logo when header is active (scrolled) */
  

  .navbar-link:is(:hover, :focus-visible) { opacity: 0.7; }

  .header.navactive .navbar-link { color: var(--charcoal); }

  .header.navactive .navbar-link:is(:hover, :focus-visible) {
    opacity: 1;
    color: var(--violet-blue-crayola);
  }

  


.form-box {
  padding-block-start: 160px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  font-family: "Jost", sans-serif;
}

.main {
  margin-top: 0;
  width: 50%;
  height: 465px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #faf7f7;

}

#chk {
  display: none;
}

.freelancer {
  position: relative;
  width: 100%;
  height: 100%;
}

label {
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  font-family: poppins;
  font-size: 1.9em;
  justify-content: center;
  display: flex;
  margin: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

input {
  width: 60%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form .input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-wrapper .rest {
  display: flex;
  width: 100%;
}


/*FOR HIDE PASSWORD*/

  .input-wrapper .pswd{
    background-color: #e0dede;
    width: fit-content;
    align-items: center;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 0;
    margin-top: 10px;
    gap: 10px;
  }

  .input-wrapper .pswd input {
    width: 50%;
    padding: 10px;
    border: 0;
    outline: 0;
    margin-block: 0;
  }

  .input-wrapper .pswd ion-icon{
    cursor: pointer;
    margin-right: 8px;
    display: block;
    font-size: 1.3rem;
  }

/*END HIDE PASSWORD*/

.input-wrapper .name-wrapper input {
  margin-top: 0;
  width: 100%;
}

.input-wrapper .rest input {
  width: 100%;
  margin-inline-end: 0;
}

.name-wrapper {
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  background-color: var(--violet-blue-crayola);
  color: var(--white);
  font-size: 1em;
  font-weight: bold;
  margin-top: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

button:hover {
  background: var(--white_a12);
}

.freelancer.active div, .freelancer.active button{
  display: none;
}

.client {
  height: 450px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-50px);
  transition: 0.8s ease-in-out;
}

.client.active label{
  margin: 20px;
}


.client.hide div, .client.hide button{
  display: none;
}

.client label {
  color: #573b8a;
  transform: scale(0.6);
  margin: 5px;
}

